<h1>Edita</h1>

<%= render "form", call: @call %>

<br>

<div>
  <%= link_to "Mostrar llamada", @call, class:"btn btn-primary" %> |
  <%= link_to "volver", calls_path, class:"btn btn-primary" %>
</div>
